/* CSS LAYOUT */
/* **************************************************************** */

.zigzag {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }